DATABASE_USERNAME=root
DATABASE_PASSWORD=
REDIS_URL=redis://localhost:6379/0

SECRET_KEY_BASE=

# Intercept mail on staging, to be sent to the following recipients
# Example: "user@domain.tld,other-user@domain.tld"
STAGING_MAIL_INTERCEPT_EMAIL_RECIPIENTS=

ERRBIT_PROJECT_KEY=
ERRBIT_URL=https://example.host.tld
