default: &default
  adapter: mysql2
  encoding: utf8
  pool: 25
  username: <%%= ENV['DATABASE_USERNAME'] %>
  password: <%%= ENV['DATABASE_PASSWORD'] %>
  host: <%%= ENV['DATABASE_HOST'] %>
  variables:
    sql_mode: TRADITIONAL

development:
  <<: *default
  database: <%= lower_case_app_name %>_development

test:
  <<: *default
  database: <%= lower_case_app_name %>_test
