default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: <%%= ENV['DATABASE_USERNAME'] %>
  password: <%%= ENV['DATABASE_PASSWORD'] %>
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: <%= lower_case_app_name %>_development

test:
  <<: *default
  database: <%= lower_case_app_name %>_test
