# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# ignore bower packages
vendor/assets/bower_components/
npm-debug.log

# ignore assets and uploads
public/assets/
public/uploads/

#ignore code coverage reports
coverage/
